
body{
    margin: auto;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    background-image: url(C:\Users\Mauricio\Desktop\ProyectoFinalPIII\mi-proyecto\src\imagenes\Fondo\Fondo.jpg);
}
.header{
    background-color: #8d1212;
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 10%;
    font-family: "Georgia"
}
.header .logo {
   cursor: pointer;
   padding-top: 10px;
  }
.header .logo img{
  height: 70px;
  width: auto;
  transition: all 0.3s;
}
.header .logo img:hover{
   transform: scale(1.2);
}
.header .links li {
    display: inline-block;
    padding: 0 20px;
    padding-top: 20px;
}
.header .links a {
    font-size: 20px;
    color: azure;
    text-decoration: none;
    transition: all 0.3s;
}
.header .links li:hover {
   transform: scale(1.2);
}
  .header .links li a:hover {
    color: #000000;
}
.contenedor-Head{
    max-width: 100%;
}
.header .btn{
    padding-top: 20px;
}
.header .btn button{
    font-size: 20px;
    font-weight: 700;
    color: #232325;
    padding: 15px 25px;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;

}
.header .btn button:hover{
    background-color: #ce1616;
    color: beige;
    transform: scale(1.2);
}
li{
    padding: 10px;
}
a{
    color: rgb(5, 5, 5);
    text-decoration: none;
}
.footer{
    position: relative;
}
.footeeer .box .box2  a h2 p{
    color: white;
   background-color: white;
}
.box {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.box figure img {
    width: 250px;
    max-width: 100%;
}


.box h2 {
    color: #efefef;
    font-size: 20px;
    margin-bottom: 10px;
}

.box p {
    color: #efefef;
    margin-bottom: 10px;
}

.icon{
    padding-right: 50px;
}
.icon:hover{
    transform: scale(1.2);
}
.box2 {
    background-color: #8d1212;
    padding: 30px 10px;
    text-align: center;
    color: white;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-items: center ;
    padding-top: 5px;
    padding-bottom: 60px;
}
.productos img{
   width: 500px;
   height: 300px;
   object-fit: cover;
}
 h2{
   flex-basis: 50%;
    font-size: 40px;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
}
h2 span{
    color: #8d1212;
}
.enlace{
   display: inline-block;
   padding: 12px 35px;
   border: 2px solid #8d1212;
   border-radius: 25px;
   margin-right: 25px;
   font-size: 17px;
   color: #ffffff;
   
}
.enlace:hover{
   background-color: #000000
}
.precio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.precio p {
   font-size: 20px;
   color: #ce1616;
}
.producto1 {
   background-color: #232325;
   border-radius: 10px;
}
.producto-txt{
   padding: 20px;
}
h3{
   font-size: 20px;
   color: #ffffff;
   margin-bottom: 5px;
}
.footeeer{
    background-color: #000000;
}
